body{
	background : #ddd;
	font-family: Muli;
	font-size: 14px;
}
.heading{
    font-size: 24px;
    color: #707070;
}
.inner-heading{
    font-size: 18px;
    color: #444;
    font-weight: 600;
}
.form-control{
	font-size: 14px;
}
.ResultsTable__wrapper{
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 15px;
    position: relative;
}
.ResultsTable {
    min-width: calc(100% - 2px);
    border-collapse: collapse;
}
.ResultsTable--sortable {
    table-layout: fixed;
    border: 1px solid #ccc;
}

.ResultsTable thead th {
    font-weight: 600;
    line-height: 16px;
    font-size: 14px;
    text-transform: none;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.ResultsTable td, .ResultsTable th {
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.ResultsTable th {
    text-align: left;
    white-space: nowrap;
    padding: 9px 18px;
}
.ResultsTable--sortable th:first-child, .ResultsTable--sortable th:nth-child(2) {
    min-width: initial;
}
.ResultsTable td{
    padding: 18px 18px;
    font-size: 14px;
}
.ResultsTable tbody tr:nth-child(even){
    background-color : #f4f7f6;
}
.ResultsTable tbody tr{
	cursor: pointer;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  max-width: 70%;
  border: 1px solid #888;
  animation-name: slideIn;
  animation-duration: 0.4s;
  margin-bottom: 20px;
}
@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}
@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
.close{
	color: #707070;
	cursor: pointer;
}
.close:hover,.close:focus{
	color: #707070;
}
.page_link{
	border : 1px solid #bbb !important;
	color: #666 !important;
	padding: 0.75rem 1.5rem;
	text-decoration: none;
	border-radius: 4px; 
}
.page-link:hover{
	background : transparent !important;
}
.prev{
  border-radius: 5px 0px 0px 5px !important;

}
.next{
    border-radius: 1px 5px 5px 1px !important;
}
.current{
	background : #666;
	color: #fff !important;
}
#myframe{
	border : 2px inset #dee2e6 !important;
}
