body{
  font-family: Muli,sans-serif;
  font-size: 14px;
}
#top-header{
	margin: 0;
	padding: 0 !important;
	width: 100%;
/*	box-shadow: 0px 3px 6px #00000029;*/
	height : 75px;
	transition: 0.5s;
  margin-left: 250px;
  position: fixed;
  background : white;
  z-index: 100000;
}
.menu_Icon{
	background : none !important;
	border : none !important;
	width: 51px;
	height: 51px;
  border-radius: 50%;
  margin-left: 30px;
}
.menu_Icon img{
  width: 22px;
}
.menu_Icon:hover{
	background : #F5F5F5 !important;
	transition: 0.5s ease-in-out;
}

.sidepanel  {
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  background: #F8F8F8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  /*box-shadow: 0px 3px 6px #00000029;*/
}
.main-content{
/*  display: none;*/
  margin-left: 250px;
  background : #f1f1f1;
}
.heading{
  font-size: 22px;
  color: #000;
  margin-top: 75px;
}
.label_text{
  color: #444;
  font-size: 14px;
  white-space: nowrap;
}
/** datepicker styles */
#ui-datepicker-div {
  display: none;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.ui-datepicker-calendar thead th {
  padding: 0.25rem 0;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  color: #78909C;
}
.ui-datepicker-calendar tbody td {
  width: 2.5rem;
  text-align: center;
  padding: 0;
}
.ui-datepicker-calendar tbody td a {
  display: block;
  border-radius: 0.25rem;
  line-height: 2rem;
  transition: 0.3s all;
  color: #546E7A;
  font-size: 0.875rem;
  text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {  
  background-color: #E0F2F1;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
  background-color: #009688;
  color: white;
}
.ui-datepicker-header a.ui-corner-all {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
  background-color: #ECEFF1;
}
.ui-datepicker-header a.ui-datepicker-prev {  
  left: 0;  
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: 50%;
  transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 50%;
}
.ui-datepicker-header a>span {
  display: none;
}
.ui-datepicker-title {
  text-align: center;
  line-height: 2rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
  color: #78909C;
  font-weight: 400;
  font-size: 0.75rem;
}
.btn{
  font-size: 14px;
}
.btn_clear{
  background: #FE97B7 0% 0% no-repeat padding-box;
  box-shadow: 0px 16px 48px #00000029;
  opacity: 0.64;
  cursor: pointer
}

#datepicker,#datepicker2{
  color: #707070;
}
.form-control{
  font-size: 14px;
}
.ResultsTable__wrapper{
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 15px;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ResultsTable {
    min-width: calc(100% - 2px);
    border-collapse: collapse;
}
.ResultsTable--sortable {
    table-layout: fixed;
    box-shadow: 0px 3px 6px #00000029;
}


.ResultsTable thead th {
    font-weight: 400;
    line-height: 16px;
    text-transform: none;
    color: #fff;
}
.ResultsTable thead{
      background: #00B1B1;
}

.ResultsTable td, .ResultsTable th {
    box-sizing: border-box;
}
.ResultsTable th {
    text-align: center;
    white-space: nowrap;
    padding: 18px 18px;
}
.ResultsTable--sortable th:first-child, .ResultsTable--sortable th:nth-child(2) {
    min-width: initial;
}
.ResultsTable--sortable thead th:first-child{
  border-top-left-radius: 10px;
}
.ResultsTable--sortable thead th:last-child{
  border-top-right-radius: 10px;
}
.ResultsTable td{
  padding: 9px 18px;
  color: #707070;
  text-align: center;
}
.badge-success{
    background: transparent;
    border:1px solid #22af46;
    color: #22af46;
}
.badge.badge-info {
    background: transparent;
    border: 1px solid #3C89DA;
    color: #3C89DA;
}
.ResultsTable tbody tr:nth-child(even){
  background : #f2f2f2;
}
.btn-review{
    background: #FE97B7 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 48px #00000029;
    width: 100%;
}
.ResultsTable tbody tr:nth-child(even){
  background : #fff;
}
.btn-approve{
  background : #00B1B1;
  color: #fff;
  width: 100%;
}
.simple-pagination li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.light-theme .current {
    background: #C9C9C9 !important;
    color: #fff;
    border-color: #444;
    box-shadow: 0 1px 0 #fff, 0 0 2px rgb(0 0 0 / 30%) inset;
    cursor: default;
}
 .light-theme span {
    color: #666;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    border: 1px solid #bbb;
    min-width: 14px;
    padding: 2px 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    cursor: pointer;
}

@media only screen and (max-width: 1200px){
  .sidepanel{
    width: 0px;
  }
  .main-content{
    margin-left: 0px;
  }
  #top-header{
    margin-left: 0px; 
  }
}
@media (min-width : 768px){
  .btn-review,.btn-approve{
    width : 80%;  
  }
  
} 