body{
/*    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(252, 249, 249);
    margin-top: 30px;*/
    background : #ddd;
    font-family: Roboto;
}
.heading{
    font-family: Muli !important;
    font-size: 22px;
}
.inner-heading{
    font-size: 18px;
    color: #444;
    font-weight: 600;
    font-family: Muli !important;
}
.subheading-col{
    text-align: center;
    margin-top: 40px;
}
.selectdetails-icons-col{
    text-align: right;
    align-self: center;
}
.selectdetails-icons{
    margin-left: 20px;
    margin-top: 10px;
    color: grey;
}
.dropdown-fl{
    width: 300px;
}
#dropdown-aftertext{
    font-size: 16px;
}
#date-ip{
    height: 35px;
    border: 1px solid grey;
    border-radius: 5px;
}
.filter-search-col{
    padding-right: 32px;
}
table{
    font-size: small;
}
#cc-picker{
    border: 0px;
}
.addslot-table thead{
    text-align: center;
}
.btn-info{
    color: white;
}
.fre-btn{
    width: 80px;
}
.exec-btn{
    width: 90px;
}
.timer{
    height: 38px;
}

.ResultsTable__wrapper{
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}
.ResultsTable {
    min-width: calc(100% - 2px);
    border-collapse: collapse;
}
.ResultsTable--sortable {
    table-layout: fixed;
    border: 1px solid #ccc;
}

.ResultsTable thead th {
    font-weight: 600;
    line-height: 16px;
    font-size: 14px;
    text-transform: none;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.ResultsTable td, .ResultsTable th {
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.ResultsTable th {
    text-align: left;
    white-space: nowrap;
    padding: 9px 18px;
}
.ResultsTable--sortable th:first-child, .ResultsTable--sortable th:nth-child(2) {
    min-width: initial;
}
.ResultsTable td{
    padding: 10px;
    font-size: 14px;
}
.ResultsTable tbody tr:nth-child(even){
    background-color : #f4f7f6;
}
.ResultsTable tfoot td{
    border : none;
}
.history-modal-text{
    color: grey;
}
.switch {
    position: relative;
    display: block;
    width: 90px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2ab934;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }
  
  .on
  {
    display: none;
  }
  
  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  
  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}
